* {
    box-sizing: border-box; 
}

.cbt-brew_list {
    text-align: center; 
    display: inline; 
}

.cbt-brew_list li {
    list-style: none;
}

.cbt-brew_list a {
    text-decoration: none; 
    color: #000; 
}


@media only screen and (min-width: 1400px) {
    /*
    .cbt-brew_list {
        display: flex; 
        
    }
    */
}