summary {
    outline: none;
    font-family: 'Metal Mania', cursive; 
    font-size: 20px; 
}

details {
    font-family: 'Roboto', sans-serif;
    font-size: 15px; 
}

.cbt-brew-page__container {
    border: 1px solid #df4811; 
    background-color: #df4811; 
    width: 300px; 
    margin: 0 auto; 
    font-size: 20px; 
}

.cbt-brew-info__container {
    width: 250px; 
    margin: 0 auto; 
}

.cbt-brew_phone-number,
.cbt-brew_address,
.cbt-brew_website,
.cbt-brew_details {
    margin-top: 40px; 
}


.cbt-add-brew-item {
    margin-top: 40px;
    margin-bottom: 40px;  
}

.cbt-brew_website a {
    color: #fff; 
}