.cb-login__form {
    width: 300px; 
    height: 500px; 
    margin: 30px auto;
    background-color: #000;
    box-shadow: 10px 10px #fff; 
}

.red  {
    color: #fff; 
}

fieldset  {
    border: none; 
}

legend {
    font-size: 25px; 
}

label {
    font-size: 17px; 
}

label, 
legend {
    color: #fff; 
}

input {
    display: flex; 
    flex-direction: column; 
    margin: 20px auto; 
    width: 150px; 
    height: 25px; 
    border: none; 
}

.cb-login__button {
    width: 130px; 
    height: 35px; 
    background-color: #000;
    border: 1px solid #fff; 
    color: #fff; 
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px; 
}

.cb-login__button:hover {
    color: #ffdfd3;
    transition: 0.7s; 
}

.cb-demo__container {
    border: 1px solid #000;
    box-shadow: 10px 10px #fff; 
    background: #000; 
    color: #fff;  
    width: 300px; 
    margin: 0 auto; 
}

.cb-demo__container span {
    color: #ffdfd3; 
    margin-left: 5px; 
}

.cb-login-form__links {
    margin-top: 40px; 
    margin-bottom: 40px; 
}

@media only screen and (min-width: 420px) {
    label {
        font-size: 20px; 
    }

    .cb-login__form,
    .cb-demo__container {
        box-shadow: 15px 15px #fff; 
    }
    
    .cb-demo__container h2 {
        font-size: 30px; 
    }

    .cb-demo__container p {
        font-size: 17px; 
    }
}

@media only screen and (min-width: 420px) {
    .cb-login__form,
    .cb-demo__container {
        box-shadow: 20px 20px #fff; 
    }
}

@media only screen and (min-width: 900px) {
    .cb-login__form {
        width: 450px; 
        
    }

    .cb-demo__container {
        width: 450px; 
        
    }
    .cb-demo__container h2 {
        font-size: 35px; 
    }

    .cb-demo__container p {
        font-size: 20px; 
    }
}