.cbt-navigation {
    width: 100%; 
}



.cbt-logo a{
    text-decoration: none; 
    color: #000; 
}

.nav {
    text-align: center; 
    margin: 20px auto; 
}

.nav a {
    text-decoration: none; 
    color: #000; 
}

.cbt-link__home, 
.cbt-link__mybrew {
    padding-left: 20px; 
    padding-right: 20px;
}